---
import { Description } from '../utils';

export interface Props {
    title?: string;
    description?: string;
    imagePath?: string;
}

const { title = 'erisly.moe', description = Description, imagePath = 'emotes/pat.png' } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta content={description} name="description" />
        <meta content="#FF6394" name="theme-color" />
        <meta content="website" property="og:type" />
        <meta content={title} name="twitter:title" property="og:title" />
        <meta content={description} name="twitter:description" property="og:description" />
        <meta content={`https://erisly.moe/${imagePath}`} name="twitter:image" property="og:image" />
        <meta content="summary" name="twitter:card" />
        <meta content="@ErislyBot" name="twitter:site" />
        <meta name="generator" content={Astro.generator} />

        <link rel="icon" type="image/ico" href="/favicon.ico" />

        <title>{title}</title>
    </head>
    <body class="text-lg text-white bg-background-400">
        <slot />
    </body>
</html>
